<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title> {{ page.title }} </title>
    </head>
    <body>
        <header>Clicks Without Compromise</header>
        <nav>
            <ul>
<!-- TODO: Make these links. -->
<li>About</li>
<li>The Lists</li>
<ul>
    <li>Full-size (100%, 104+ keys)</li>
    <li>TKL (90%/87+ keys)</li>
    <li>Numeric Keypads</li>
</ul>
<li>Switches</li>
<ul>
    <li>Switch Overview</li>
    <li>Linear Switches</li>
    <li>Tactile Switches</li>
    <li>Clicky Switches</li>
</ul>
<li>Keycap Guide</li>
<li>Creamy Vs. Thock: A Primer</li>
            </ul>
            </nav>
            <main>
                {{ content }}
            </main>
            <footer>
                Copyright &copy; 2025 The Old Hat Keyboards Team
            </footer>
        </body>
</html>